// Specific CSS for your home-page
h3 {
  margin-top: 50px;
  font-size: 50px;
}

.cards-vertical {
  display: flex;
  margin: 20px 30px;
  overflow: scroll;
}

.container-category {
  margin: 100px;
}
