// Import page-specific CSS files here.
@import "home";
@import "show";

.filters {
  background-color: #3b3b3b;

  .control-label {
    width: auto;
    margin-right: 8px;
  }

  .event_category {
    margin: 0px !important;
  }

  .event_time {
    margin: 0px !important;
  }

  .event_date {
    margin: 0px !important;
  }

  .event_level {
    margin: 0px !important;
  }
}
