#studio-show {
  .card-show {
    margin-left: 25px;
    margin-top: 10px;

    .icon-star {
      color:#eeca28;
    }

    .icon-empty {
      color: #aaa9a6;
    }
  }

  .card-wrapper-studio {
    margin-top: 50px;

    h4 {
      margin-left: 15px;
    }
  }

  .card-schedule {
    margin-left: 20px;
  }

  .card-membership {
    margin-left: 10px;
    .card-membership-package {
      display: flex;
    }
  }

  .card-studio-image {
    width: 92%;
    height: 350px;
    background-size: cover;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 45px;
  }

  .card-wrapper-studio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .studio-map #map {
    height: 35vh !important;
  }

  .btn {
    position: absolute;
    bottom: 3px;
    left: 3px;
  }
}
