<div class="card-event">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-event-infos">
    <h2>Product name</h2>
    <p><em>by Studio_Name</em></p>
    <p><i class="fas fa-user-friends"></i> 10 / 15</p>
    <p>21 March 2022, 6:00 AM - 7:00 AM</p>
  </div>
  <div class="card-event-price">
    <strong>IDR 100K</strong>
  </div>
</div>
