<div class="card-package">
  <h3>Ten-Classes Package</h3>
  <div class="card-package-price">
    <h2>IDR 80K</h2>
    <p>per session</p>
  </div>
  <p>Valid for 1 months</p>
  <%= link_to "Buy Now", "#", class: "btn-secondary" %>
</div>
<div class="card-package-middle">
  <h3>Twenty-Classes Package</h3>
  <div class="card-package-price">
    <h2>IDR 70K</h2>
    <p>per session</p>
  </div>
  <p>Valid for 3 months</p>
  <%= link_to "Buy Now", "#", class: "btn-secondary" %>
</div>
<div class="card-package">
  <h3>Fifteen-Classes Package</h3>
  <div class="card-package-price">
    <h2>IDR 75K</h2>
    <p>per session</p>
  </div>
  <p>Valid for 2 months</p>
  <%= link_to "Buy Now", "#", class: "btn-secondary" %>
</div>
