<div class="card-package">
  <h3>Ten-Class Package</h3>
  <div class="card-package-price">
    <h4>IDR 80K</h4>
    <p>per session</p>
  </div>
  <p>Valid for 3 months</p>
  <%= link_to "Buy Now", "#", class: "btn-secondary" %>
</div>
