<div class="d-flex justify-content-center mt-4">
  <div class="card-review-large">
    <div>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-star"></span>
    </div>
    <p>I'm so greatful I found WOW! This is the best when you want to find a workout session!</p>
    <%= image_tag "andrey.jpg", class: "avatar-medium dropdown-toggle" %>
    <p>Andrey</p>
  </div>
    <div class="card-review-large">
    <div>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-empty"></span>
    </div>
    <p>The platform is very well-structured and this makes it easy to use!</p>
    <%= image_tag "nasimul.jpeg", class: "avatar-medium dropdown-toggle" %>
    <p>Nasimul</p>
  </div>
    <div class="card-review-large">
    <div>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-star"></span>
    </div>
    <p>Such a great site! Nice straightforward system to use! It just made my day easier!</p>
    <%= image_tag "pooja.jpeg", class: "avatar-medium dropdown-toggle" %>
    <p>Pooja</p>
  </div>
    <div class="card-review-large">
    <div>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-star"></span>
      <span class="fa fa-star icon-empty"></span>
    </div>
    <p>WOW is the most AWESOME solution! this Has really helped me grow my business!</p>
    <%= image_tag "mel.jpeg", class: "avatar-medium dropdown-toggle" %>
    <p>Melike</p>
  </div>
</div>
