<div class="card-review-large">
  <div>
    <span class="fa fa-star icon-star"></span>
    <span class="fa fa-star icon-star"></span>
    <span class="fa fa-star icon-star"></span>
    <span class="fa fa-star icon-star"></span>
    <span class="fa fa-star icon-star"></span>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum voluptas voluptatibus dignissimos ad in!</p>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-medium dropdown-toggle" %>
  <p>Christina</p>
</div>
