<div class="card-review">
  <h2>Product name</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis optio delectus molestiae rem in? Minus consectetur ab nam sapiente hic, necessitatibus cum labore ipsum similique quia nemo blanditiis officia sit!</p>
  <div class="card-review-stars">
    <p>⭐⭐⭐⭐⭐</p>
  </div>
</div>
