<!-- Site footer -->
<footer class="site-footer bg-dark text-center py-4">
  <h6>CONTACT US</h6>
  <ul class="social-icons">
    <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
    <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
    <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
  </ul>
  <p class="copyright-text">&copy; 2022 Work Out Web</p>
</footer>
