<div class="tab-slider--container" data-filter-events-target="view">
  <div id="tab1" class="tab-slider--body <%= 'd-none' unless params[:list] == "true" || params[:calendar] != "true" %>" data-filter-events-target="listView">
    <%= render 'class_lists', events: events, events_group: events_group %>
  </div>
  <div id="tab2" class="tab-slider--body px-4 <%= 'd-none' unless params[:calendar] == "true" %>" data-filter-events-target="calendarView">
    <%= render 'class_calendar', events: events %>
  </div>
</div>
