  <div class="container">
    <h2>Dashboard</h2>
    <div class="d-flex mt-3">
      <%= cl_image_tag current_user.avatar.key, class: "avatar-large" %>
      <div class="ms-4">
        <p class="m-0"><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>
        <p class="m-0"><%= current_user.email %></p>
      </div>
    </div>
  </div>
