.card-event {
  padding: 18px;
  overflow: hidden;
  height: 160px;
  background: white;
  display: flex;
  border-radius: 10px;
  align-items: center;
  // box-shadow: 0 0 1px rgba(0,0,0,0.2);
  img {
    border-radius: 10px;
    margin: 18px 0;
    height: 120px;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  p {
    line-height: 1.4;
    opacity: .8;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-event-infos {
    padding: 18px;
    flex-grow: 1;
  }

  .card-event-price {
    justify-content: flex-end;
    align-self: flex-end;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
}

.card-package {
  height: 350px;
  width: 210px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);

  h2 {
    font-weight: bold;
    margin: 0;
  }

  h3 {
    font-size: 24px;
    line-height: 1.4;
    margin: 0;
    text-align: center;
  }

  p {
    line-height: 1.4;
    opacity: .8;
    margin: 0;
  }

  .card-package-price {
    text-align: center;

    p {
      opacity: 1;
    }
  }

  // &:hover {
  //   transform: scale(1.01);
  //   box-shadow: 0 0 5px rgba(0,0,0,0.3);
  // }
}

.card-review {
  padding: 18px;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  position: relative;
  height: 88px;
  // box-shadow: 0 0 1px rgba(0,0,0,0.2);

  h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 8px;
  }

  p {
    line-height: 1.4;
    opacity: .8;
    margin: 0;
  }

  .card-review-stars {
    position: absolute;
    top: 18px;
    right: 18px;
  }

  .fa {
    color: #eeca28;
  }
}

.card-review-large {
  // border: 1px solid black;
  border-radius: 10px;
  padding: 24px;
  width: 300px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  p {
    text-align: center;
    margin: 0;
  }

  .fa {
    color: #eeca28;
    font-size: 24px;
  }
}
