.navbar-lewagon {
  justify-content: space-between;
  background-color: black;
  transition: 0.5s background-color ease;

  .form-control {
    color: #4A4A4A;
    transition: opacity 0.3s ease;
    width: 380px;
  }

  .avatar-small {
    cursor: pointer;
  }
}

#search {
  position: relative;
  margin-left: 14%;

  .btn-search {
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    transition: opacity 0.3s ease;
    border-radius: 50%;
    color: $primary;
    position: absolute;
    top: 0;
    right: -14%;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 35px;
}

.nav-link {
  color: $light !important;
  transition: all .2s ease-in-out;

  &:hover {
    color: $primary !important;
  }
}

.navbar-home {
  background: transparent;
}

.navbar-lewagon-black {
  background-color: $dark;
}
