.chatroom-popup {
  position: sticky;
  bottom: 0px;
  right: 0;
  float: right;
  max-width: 300px;
  max-height: 500px;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .popup {
    width: 30px;
    border: none;
    background: none;
  }

  .popup-sent {
    border: none;
    background: none;
    width: 15px;
  }

  .border {
    border-radius: 10px;
    margin-bottom: 3px;
    padding-left: 5px;
  }
}
