.card-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  &.bottom {
    height: 90vh;
  }

}

.card-show {
  padding-right: 10px;
  line-height: 30px;
  position: relative;
  margin-left: 45px;
  letter-spacing: 1px;
  // img {
  //   height: 100px;
  //   width: 200px;
  //   object-fit: contain;
  // }
  &.card-show-name {
    line-height: 10px;

  }
}

.card-show-details {
  height: 70vh;
  margin-left: 80px;
  img {
    height: 100px;
    width: 200px;
    object-fit: contain;
  }
}
.card-image {
  height: 350px;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
}
.card-image-modal {
  height: 300px;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
  .icon {
    width: 30px;
  }
}
.card-review-box {
  height: 200px;
  overflow-y: scroll;
}

.modal-body {
  line-height: 30px;
}
.modal-content {
  width: 80%;
}

.card-class-show {
  height: 460px;
  overflow-y: scroll;
}

.navbar-bar {
  height: 20px;
}
#icon{
  height: 50px;

}

.item-button {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.event-map #map {
  height: 35vh !important;
}
.card-details {
  height: 300px;
  display: flex;
  flex-direction: column;
  img {
    height: 100px;
    width: 120px;
  }
}
.item-value {
  margin-left: 40px;
}
.icon-star {
  color:#eeca28;
}

.icon-empty {
  color: #aaa9a6;
}

#instructions {
  position: absolute;
  margin: 20px;
  width: 25%;
  top: 0;
  bottom: 20%;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  font-family: sans-serif;
}
