.card-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  &.bottom {
    height: 70vh;
  }
}

.card-show {
  padding-right: 10px;
  line-height: 30px;
  position: relative;
  margin-left: 12px;
  letter-spacing: 1px;
  img {
    height: 100px;
    width: 200px;
    object-fit: contain;
  }
}

.card-show-details {
  height: 70vh;
  margin-left: 80px;
  img {
    height: 100px;
    width: 200px;
    object-fit: contain;
  }

}
.card-image {
  height: 500px;
  width: 100%;
  background-size: cover;

}
.card-image-modal {
  height: 300px;
  width: 100%;
  background-size: cover;
  .icon {
    width: 30px;
  }
}
.card-review-box {
  height: 100px;
  overflow-y: scroll;
}

.modal-body {
  line-height: 30px;
}
.modal-content {
  width: 80%;
}

.card-class-show {
  height: 360px;
  overflow-y: scroll;
}

.navbar-bar {
  height: 20px;
}
#icon{
  height: 50px;
  margin-left: -70px;
}

.item-button {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
