.card-item {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  height: 70vh;
}

.card-image {
  object-fit: cover;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
}

.card-item-middle {
  padding-right: 10px;
  line-height: 45px;
  position: relative;
  .item-value {
    margin-left: 12px;
  }
}
