<div class="card-review-list border-0 mb-4 pt-3">
<h4>Reviews:</h4>
<div class="card-review-box">
  <% if @reviews.blank? %>
  Be the first to leave a review for <%= @event.name %>
  <% else %>
  <% @reviews.each do |review| %>
    <div class="card-review mb-3">
      <h2> <%= review.booking.event.name %> </h2>
      <p><%= review.content %></p>
      <div class="card-review-stars">
        <p>
          <% review.rating.to_i.times do %>
            <i class="fas fa-star text-warning"></i>
          <% end %>
        </p>
      </div>
    </div>
        <% end %>
  <% end %>
</div>
</div>
